html, body, blockquote {
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
}

#blocker {
    padding-top: 30%;
    margin-left: 0%;
    transform: translateX(0%);
}

#mainpage h1 {
    transform: translateY(40%);
    font-size: 200%;
}

#mainpage p {
    margin-top: 30%;
    transform: translateY(90%);
    font-size: 100%;
}

#cherchebar {
    border:  8pt solid rgb(33, 32, 41);
    background-color: rgb(33, 32, 41);
    margin-left: 2.5%;
    width: 90%;
    border-radius: 30px;
    display: flex;
    margin-top: 15%;
}

#cherchebar img {
float: left;
width: 10%;
}

#cherchebar input {
    font-size: 160%;
}

#shortcut_logo {
    width: 5%;
}

#logocross {
    top: -50%;
}

#menu_block {
    width: 70%;
}

.flag {
    height: 40px;
}

.flag:hover {
    height: 60px;
}