@font-face {
    font-family: title;
    src: url(/Assets/fonts/Mont-HeavyDEMO.otf);
}

@font-face {
    font-family: k1;
    src: url(/Assets/fonts/ka1.ttf);
}

/* OVERRIDE */
.card-title {
    text-align: center;
    font-family: title;
}

.card-text {
    padding: 0;
    margin: 0;
}

.progress {
    padding: 0;
    margin: 0;
}

.progress-bar {
    transition: 1s width;
    width: 0%;
}

.HTML-language {
    background: #f98020;
    color: #000;
}

.JavaScript-language {
    background-color: #f9ea20;
    color: black;
}

/* OVERRIDE END */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-align: start;
    /* scroll to top */

}


body {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    padding: 30px;
    background: linear-gradient(-45deg, #164010 40%, #30346A 90%);
}

h1 {
    font-family: title;
}

nav {
    background-color: #ffffff20;
    border-radius: 50px;
}

.sdown {
    width: 200px;
    height: 200px;
}

.divider {
    width: 80%;
    height: 1px;
    margin-top: 8rem;
    margin-bottom: 4rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(#4052DE, #000);
}

#themeswitcher:hover {
    cursor: pointer;
}

.card {
    background: #ffffff20;
    border: 2px solid #ffffff40;
}

.fixed {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 100;
}