* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@keyframes backgroundmove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeinFromRight {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeinFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

#leftrow {
    transform: translateX(-100%);
    animation: fadeinFromLeft 1.5s 1.2s ease-in-out forwards;
}



body {
    background: linear-gradient(135deg, #130717 ,  rgb(32, 38, 57));
    /* background: linear-gradient(90deg, red 50%,  blue 0%); */
    background-size: 200% 200%;
    animation: backgroundmove 5s ease-in-out infinite;
}



#terminal {
    background: url("/Assets/img/terminal.png") no-repeat center;
    background-size: cover;
    padding: 7rem;
    animation: fadeinFromRight 1.5s ease-in-out;
    font-family: 'Fira Code', monospace;
}

#terminalcursor {
    animation: blink steps(2,start) 0.60s infinite;
}
