* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;

}

html, body {
    height: 100%;
    width: 100%;
    color: white;
}

body {
    font-family: monospace;
    background: linear-gradient(90deg,#1d182e, #410100);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}


nav a, nav a:hover{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
}

nav a::after {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    left: 50%;
    transition: .2s;
}

nav a:hover:after {
    content: '';
    display: block;
    width: 100%;
    left: 0;
    background-color: white;
}



.leftside {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50%;
    /* transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    text-align: start;
}

.leftside h1 {
    /* font-size: 5rem; */
    margin-bottom: 1rem;
    animation: fadeIN 2s forwards;
    opacity: 0;
    font-family: Lilita One;
    
}

.leftside p {
    /* font-family: Anton; */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fadeIN 2s .5s forwards;

}


.fadein {
    opacity: 0;
    animation: fadeIN 2s forwards;
}

@keyframes fadeIN {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOUT {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(50%);
    }
}



.btn-glassy {
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: .5s;
    height: auto;
}

.btn-glassy:hover {
    padding: 1rem 2rem;
}

#timeline {
    display: flex;
    flex-direction: column;
    gap: 25vh;
    width: 2px;
    border: 1px solid white;
    padding-block: 25vh;
    backdrop-filter: blur(10px);
}

.timelinedot {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.timelinepost {
    position: relative;
    left: 0%;
    top: 0%;
    padding-left: 50px;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.timelineContent {
    width: 100%;
}

#skills {
    height: 100%;
}

#skilllist {

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    gap: 1rem;
    font-size: 10vw;
    margin-left: 5%;
}